<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/grid.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/lanyon.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/custom.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/gh-fork-ribbon.min.css" />
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">

  <!-- Ribbon -->

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}public/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  {% comment %}
  <!-- Twitter Cards -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="{{ site.baseurl }}public/images/picture-30.jpg">

  <meta name="twitter:title" content="Fancy Some Columns?">
  <meta name="twitter:description" content="Test of Twitter Bootstrap's 12 column setup">
  <meta name="twitter:creator" content="@hmfaysal">

  <!-- Open Graph -->
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="article">
  <meta property="og:title" content="Fancy Some Columns?">
  <meta property="og:description" content="Test of Twitter Bootstrap's 12 column setup">
  <meta property="og:url" content="/hmfaysal-omega-theme/sample-posts/fancy-columns">
  <meta property="og:site_name" content="HMFAYSAL">
  <meta property="og:image" content="/hmfaysal-omega-theme/images/picture-30.jpg">

  <link rel="canonical" href="/hmfaysal-omega-theme/sample-posts/fancy-columns">
  <link href="/hmfaysal-omega-theme/feed.xml" type="application/atom+xml" rel="alternate" title="HMFAYSAL Feed">
  <link rel="author" href="https://plus.google.com/u/0/102602916593522619858?rel=author">
  {% endcomment %}
</head>
